:root {
  --neutral-color: #f1f1f1;
  --primary-color: #0e3584;
  --lighter-color: #5359b3;
  --darker-color: #221956;
  --primaryj-color: #ff0000;
  --bigger--font-size: 32px;
  --big--font-size: 24px;
  --medium--font-size: 16px;
  --small--font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
}

#Header {
  width: 100%;
  height: 5em;
  margin: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerElement {
  font-size: var(--big--font-size);
  color: var(--neutral-color);
  transition: font-size 0.2s ease-in-out;
}

.headerElement:hover {
  font-size: var(--bigger--font-size);
}

.subHeader {
}
