:root {
  --neutral-color: #f1f1f1;
  --primary-color: #0e3584;
  --lighter-color: #5359b3;
  --darker-color: #221956;
  --primaryj-color: #ff0000;
  --bigger--font-size: 32px;
  --big--font-size: 24px;
  --medium--font-size: 20px;
  --small--font-size: 10px;
}

a {
  color: var(--neutral-color);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, "Helvetica Neue", Arial, Helvetica,
    sans-serif;
  background: var(--primary-color);
  height: 8vh;
  font-size: 24px;
}

li {
  display: block;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#datastructures-menu,
#algorithms-menu {
  font-size: var(--medium--font-size);
  background: var(--darker-color);
  position: absolute;
  width: 24vw;
  top: 8vh;
  padding: 0;
  display: none;
  transform: translateY(-100%);
}

button {
  background-color: var(--primary-color);
  border: 0;
  color: var(--neutral-color);
}

li:hover {
  opacity: 0.7;
}
